################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccess.Entity/bin/Debug/netcoreapp3.1
/Database/bin/Debug
/Database/obj/Debug
/Database/Database.jfm
/Database/Database.dbmdl
/DataAccess.Entity/obj
/DataAccess.Model/obj
/DataAccess.Model/bin/Debug/netcoreapp3.1
/DataAccess.Repository/bin/Debug/netcoreapp3.1
/DataAccess.Repository/obj
/DataTransfer.Dto/bin/Debug/netcoreapp3.1
/DataTransfer.Dto/obj
/LeaderboardService.Business/bin/Debug/netcoreapp3.1
/LeaderboardService.Business/obj
/LeaderboardService.WebApp/bin/Debug/netcoreapp3.1
/LeaderboardService.WebApp/obj
